body {
  font-family: sans-serif;
  font-size: 16px;
}

#root{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app{
  width: 600px;
  height: 400px;
  background-color: #8282821a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  width: 200px;
  margin-bottom: 50px;
}

.quiz{
  text-align: center;
}

.answer_text{
  font-size: 20px;
  font-weight: bold;
}

.answers{
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 10px;
  margin-bottom: 30px;
}

.answer{
  padding: 10px;
  width: 200px;
  background-color: #004b9b;
  color: #ffffff;
  text-align: center;
}

.answer:hover{
  cursor: pointer;
}

.send_data{
  display: flex;
  flex-direction: column;
}

.send_data a{
  text-decoration: none;
  padding: 8px;
  background-color: #004b9b;
  color: #ffffff;
}